body {
  background-color: #eee;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.login-box{
  max-width: 450px;
}

/*登陆/注册/找回密码 style*/
.log_main_banner, .reg_main_banner {
  background: url("../../images/denglu-beijing_02.jpg") no-repeat top center #1C1308;
  background-size: cover;
  height: 530px;
  overflow: hidden;
  text-align: center;
}

.loginBox, .registBox {
  background-color: rgba(159, 125, 68, 0.2);
  width: 728px;
  height: 398px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border-color: #6e5f44;
  border-style: solid;
  border-width: 1px;
  -khtml-border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  display: none;
}
.registBox{
  height: 528px;
  margin: 70px auto;
}

.login-title{
  background: url("../../images/login-title.png") no-repeat 50% 50%;
  height: 100px;
}

.login-area, .regist-area{
  background-color: #EFE7CF;
  border-width: 0px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  height: 298px;
}
.regist-area{
  height: 428px;
}

.userlogin {
  float: right;
  width: 365px;
  margin: 30px;
  _margin-right: 25px;
  _margin-left: 35px;
  padding-left: 35px;
  border-left: #ccc 1px solid
}

.userlogin li {
  margin-bottom: 10px
}

.l_input input {
  margin: 0;
  padding: 0;
  width: 305px;
  height: 50px;
  background: url("../../images/input_2.png") no-repeat;
  border: none;
  margin-bottom: 12px;
}

.l_input input {
  font-size: 16px;
  font-family: "微软雅黑";
  line-height: 50px;
  color: #999;
  padding: 0 15px
}

.userlogin .login {
  width: 335px;
  height: 50px;
  font-size: 22px;
  color: #FFF;
  /*background: url(../images/log_btn.png) no-repeat;*/
  background: -webkit-linear-gradient(#038ab1, #026C91);
    background: -o-linear-gradient(#038ab1, #026C91);
    background: -moz-linear-gradient(#038ab1, #026C91);
    background: linear-gradient(#038ab1, #026C91);
  margin: 0;
  padding: 0;
  border: none;
  margin-top: 10px
}

.wechat_box{
  float: left;
  margin-left: 33px;
  margin-top: 30px;
}
.wechat_box img{
  margin-top: -10px;
}


/* footer */
.footer {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  height: 36px;
  /*border-top: #CD7C25 3px solid;*/
  background: #F8F5EC;
  /*margin-top: 10px;*/
  width: 100%;
}

.footer .res {
  background: #eee;
  border-top: 1px solid #ccc;
  color: #666;
  /*padding: 8px 0;*/
  font-family: Arial;
  height: inherit;
    line-height: 36px;
}

.footer .res span {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.tipMsg{
  background-color: #F7F7F7;
  border: 10px solid #EBEBEB;
  color: #ff6b00;
  display: none;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  letter-spacing: 1.5px;
  line-weight: 30px;
  letter-spacing: 1px;
  min-width: 150px;
  padding: 15px;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 1111;
}
