@charset "utf-8";
/* CSS Document */

/**
* 汇总数据浏览
**/

.total-data-area{
	margin-top: 20px;
}

.analysis-btn, .analysis-btn-process{
	color: #ff0;
    /*display: none;*/
    font-size: 14px;
    font-weight: 700;
    margin: 5px 15px;
    padding: 6px 12px;
}

.show-list-tbl-data-odd{
	background-color: #fff;
}

.show-list-tbl-data-even{
	background-color: #F9F9F9;
}
.tip-text-nodata{
	padding-left: 10px;
}

/* 场次分析 */
.show-analysis{
    background-color: #f7f7f7;
    font-size: 17px;
    line-height: 1.9;
    margin: 20px 0 0;
}

.show-analysis-back{}

.show-analysis-mid{
    text-align: center;
}

.show-analysis-next{
    text-align: right;
}

.show-analysis-data-area{
    margin: 20px 0;
}

.analysis-note{
    color: #f30;
    padding-right: 1em;
}

.analysis-total-tbl{
    display: none;
    margin-bottom: 0;
}