@charset "UTF-8";
/* CSS Document */
.profile:after,.cross_sale:after,.insider_vessel:after,.insider_content:after,.content .filter:after,.profile .content:after,.profile .datalist:after,.insider_privilege:after,.wish_deal .opts:after,.wish_deal_list:after,.wish_deal .summary:after,.wish_deal_onsale li:after,.s_advice .fileup_view:after,.profile .input_container:after {
	visibility: hidden;
	overflow: hidden;
	display: block;
	content: ".";
	clear: both;
	height: 0
}

.profile {
	font-family: Arial;
	filter: progid:DXImageTransform.Microsoft.DropShadow(color=#FFDBD6D0, offX=0, offY=1, positives=true);
	margin: 0 auto;
	overflow: hidden;
	line-height: 1.5;
	font-size: 12px;
	width: auto;
	clear: both;
	color: #666;
	*zoom: 1
}

@media all and (min-width:0) {
	.profile {
		font-family: Arial,'Microsoft Yahei','\5FAE\8F6F\96C5\9ED1'
	}
}

.profile .content {
	overflow: hidden;
	/*padding: 0 0 0 10px;*/
	*zoom: 1
}

.profile .select_ui,.profile textarea,.profile [type=tel],.profile [type=date],.profile [type=text],.profile [type=password] {
	-webkit-border-radius: 2px;
	border-radius: 5px;
	border: 1px solid #ddd;
	font-size: 12px;
	outline: 0
}

.profile .select_text_ui,.profile textarea,.profile [type=tel],.profile [type=date],.profile [type=text],.profile [type=password] {
	-webkit-box-shadow: 0 1px 2px 0 #f0f0f0 inset;
	/*box-shadow: 0 1px 2px 0 #f0f0f0 inset;*/
	/*background: #fff*/
}

.profile input,.profile button,.profile .select_ui,.profile .btn_mid_pink {
	vertical-align: middle;
	font-family: inherit
}

.profile .select_ui {
	background: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/*border: 1px solid #ccc;*/
	display: inline-block;
	white-space: nowrap;
	position: relative;
	text-align: left;
	line-height: 1.8;
	height: auto;
	width: auto;
	float: none;
	margin: 0;
	*display: inline;
	*cursor: default;
	*filter: none;
	*zoom: 1
}

.profile .select_focus_ui {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#fff7f7f7, endColorStr=#fffcfcfc);
	background: #fcfcfc;
	background: -webkit-gradient(linear,left top,left bottom,from(#f7f7f7),to(#fcfcfc));
	background: -webkit-linear-gradient(top,#f7f7f7,#fcfcfc);
	background: -moz-linear-gradient(top,#f7f7f7,#fcfcfc);
	background: -o-linear-gradient(top,#f7f7f7,#fcfcfc);
	background: linear-gradient(to bottom,#f7f7f7,#fcfcfc);
	*filter: none
}

.select_ui .select_text_ui {
	border-right: 1px solid #e5e5e5;
	vertical-align: baseline;
	padding: 6px 13px 5px 16px;
	margin-left: 3px;
	margin-right: 26px;
	overflow: visible;
	/*background: #fff;*/
	display: block
}

.select_ui select {
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
	filter: alpha(opacity=0);
	position: absolute;
	background: #fff;
	min-width: 100%;
	border: inherit;
	color: inherit;
	font: inherit;
	padding: 1px;
	margin: -1px;
	height: 100%;
	opacity: 0;
	border: 0;
	bottom: 0;
	left: 0;
	top: 0;
	*left: -9999em;
	*padding: 0;
	*margin: 0
}

.profile .select_arrow {
	border-color: #b7b7b7 transparent;
	border-top-color: inherit;
	border-width: 5px 6px 0;
	border-style: solid;
	position: absolute;
	margin-top: -2px;
	overflow: hidden;
	right: 7px;
	height: 0;
	width: 0;
	top: 50%;
	*border-color: #f2f2f2;
	*border-top-color: #b7b7b7
}

.select_ui:hover .select_arrow {
	border-top-color: #9e9e9e
}

.profile .select_focus_ui .select_arrow {
	border-top-color: inherit
}