@charset "utf-8";
/* CSS Document */

/* 影院管理 */
a{
    color: #666;
}

th{
    background-color: #f7f6f6;
    color: #666;
}

img.img-arrow{
    margin: -2px 0 0 10px;
}

.nav-tabs > li.active > a{
    /* 重写Bootstrap中的color */
    color: #07637d;
}

.group-box{
    margin-bottom: 20px;
}

.group-cnt{
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    padding: 15px;
}

.region-area{
	/*margin-bottom: 20px;*/
}

.ra-title{
    height: auto;
}

.ra-cnt{}

.title-btn{
    /*margin-top: -4px;*/
    padding: 10px 0;
    text-indent: 0;
}

.cinema-group-btn, .manage-group-btn{
    color: #999;
    display: block;
    float: left;
    font-size: 14px;
    margin-right: 15px;
    padding: 6px 12px;
}

.title-btn button.active{
    background-color: #fff;
    color: #07637d;
}

.btn.acrive, .btn:active{
    box-shadow: none;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover{
    background-color: #F1F0F0;
    color: #666;
}
.btn-default:hover{
    background-color: #F1F0F0;
    color: #666;
}

.cinema-list-box{
    clear: both;
}

span.fs14{
    font-size: 14px;
}

.ra-btn{
	/* 重写Bootstrap中的font-size、padding */
	float: right;
    font-size: 14px;
    margin: 5px;
    padding: 6px 12px;
}

.cinemas-cnt{}

.cinemas-cnt a{
    padding: 5px 10px;
}

.manage-groups-cnt{}

.manage-groups-cnt a{
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 5px 10px;
}
.manage-groups-cnt a:hover{
    text-decoration: none;
}

.manage-groups-cnt a.active{
    background-color: #efefef;
    border: 1px solid #e7e7e7;
}

.manage-groups-cnt a input{
    margin-right: 3px;
    margin-top: -1px;
    vertical-align: middle;
}

.manage-groups-cnt a label{
    font-weight: normal;
    margin: 0;
}

.table > tbody > tr > td{
    border: 1px solid #ddd;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-indent: 0.5em;
}

.empty-data-div{
    padding: 15px;
}

.td-num{
    display: block;
    height: 38px;
    line-height: 38px;
    margin: 0 auto;
    position: relative;
    width: 99%;
}

.click-check{
    background-color: #eee;
    color: #07637d;
    cursor: pointer;
    display: none;
    height: 38px;
    line-height: 38px;
    margin-top: -37px;
    opacity: 0.5;
    filter: alpha(opacity = 50);
    position: relative;
    text-align: center;
    width: 100%;
}

.ra-create-box{
	background-color: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    height: 178px;
    margin: 190px auto 0;
    width: 400px;
}

.modal-header{
	padding: 0 15px;
}
.modal-header h3{
	font-size: 20px;
	margin: 10px 0;
}

.modal-body{}
.modal-body p{
	margin: 0;
}
.modal-body a{
    display: inline-block;
    margin-right: 20px;
}
.modal-body a:hover{
    text-decoration: none;
}
.modal-body input{
    margin: -1px 5px 0 0;
    vertical-align: middle;
}
.modal-body label{
    font-weight: normal;
}

.ra-cinemalist-box{
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    height: auto;
    margin: 190px auto 0;
    width: 580px;
}

.modal-footer{}

.hide-block{
    display: none;
}

.sch-box, .report-box{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    height: auto;
    margin: 0;
    position: absolute;
    width: 980px;
}

.layer-cinemaname{
    color: #666;
    font-size: 16px;
}

.layer-date{
    color: #fc6404;
    padding-right: 20px;
}

.layer-cinemaname2{
    color: #666;
}

.layer-t{
    color: #07637d;
    padding-left: 20px;
}

.sch-date{
    color: #fc6404;
    font-size: 15px;
    padding-left: 10px;
    position: relative;
    width: 135px;
}

.friendship-tip-box{
    display: none;
    margin: 10px 0;
}

.friendship-title{
    color: #f30;
}

.friendship-cnt{}

.report-description-box{
    margin: 10px 0;
}

.report-title{
    color: #07637d;
    font-weight: 700;
}

.report-cnt{}

.down-report-box{
    /*display: none;*/
    margin-top: -75px;
    margin-left: 800px;
    position: fixed;
    text-align: right;
}

.desp-line{
    color: #999;
    display: inline;
    margin-left: -10px;
    padding: 0 5px;
    vertical-align: top;
}