body{
	background-color: #f9f9f9;
	font: 12px/1.5 "微软雅黑","宋体",arial,tahoma,宋体,sans-serif;
}

.main-div{
	color: #666;
    margin: 0 auto;
    width: 100px;
}

.userSltFilm{
	width: 60px;
	cursor: pointer;
}
.userInputFilm{
	border: 2px solid #11C2EE;
	color: #21C6EF;
	height: 24px;
	margin: 5px 0 10px;
	width: 158px;
	text-align: center; 
}
.filmListBox-div{
	background-color: #fefefe;
    border: 1px solid #ccc;
    display: none;
    height: 280px;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5px;
    /*position: absolute; 可根据页面布局决定是否开启*/
    width: 182px;
}
.filmListBox-ul{
    list-style: outside none none;
    margin: 0;
	padding: 0;
}
.filmListBox-ul li{
	cursor: default;
	padding: 0 0 0 5px;
	line-height: 26px;
	text-align: left;
}