@charset "utf-8";
/* CSS Document */
.date{
	background-color:#151935;
	height:40px;
	border-radius:1px;
	width:91%;
	margin:10px auto 0;
	padding:0 3%;
}
.alert01{
	padding:7px 2% 0 0;
	width:40%;
}
.alert01 p{
	float:left;
	width:120px;
	height:26px;
	border:1px solid #9193a7;
	color:#9193a7;
	font-size:14px;
	padding:0 0 0 10px;
	line-height:26px;
	background:url(../images/alert01.png) no-repeat 110px center;
	margin-right:20px;
}
.alert01 p input{
	background: transparent;
    cursor: pointer;
    color: #fff;
	height: 26px;
    width: 90px;
    vertical-align: text-bottom;
}
.p05{
	width:247px;
	border:1px solid #9193a7;
	border-radius:1px;
	height:21px;
	padding:5px 10px 0 10px;
	margin-top:7px;
}
.text01{
	float:left;
	background-color:#151935;
	height:17px;
	color:#1494c5;
	outline:none;
	width:80%;
	border-left:1px solid #1494c5;
	padding-left:10px;
}
.text01::-webkit-input-placeholder{ color:#fff;}/*chrome,safari*/
.text01::-moz-placeholder{color:#fff;}/*ff*/
.p05 a{
	display:block;
	float:right;
}
.contentB02{
	background-color:#151935;
	border-radius:1px;
	width:97%;
	margin:10px auto 20px;
	padding-top:10px;
}
.table01{ margin-bottom:15px;}
.table01 tr td{ 
	text-align:center;
	font-size:14px;
	color:#d1dae5;
	height:38px;
}
.table01 tr td img{
    vertical-align: text-bottom;
}
.table01 .tr01 td{
	background-color:#2d3554;
	height:40px;
	font-size:16px;
	color:#9193a7;
}
.title02{
	width:400px;
	margin:0 0 10px 53px;
	height:28px;
}


.divselect01{ width:210px;}
.divselect01 cite{ 
	width:200px;
	background:url(../images/se02.png) no-repeat 190px center;
}
.divselect01 ul{ width:210px;}
.divselect01 ul li{ padding-bottom:0px;}
.divselect01 ul li a{ width:200px;}