@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	border:0;
	font-family:"PingFang SC","Arial","Microsoft YaHei","sans-serif";
	list-style:none;
	outline:none;
	font-weight:normal;
}
a{
	text-decoration:none;
	color:#fff;
}
.lf{ float:left;}
.rt{ float:right;}
body{ background-color:#000422;}
.clear{ clear:both;}


/*头部公共样式*/
.head{
	background:#375dcc url(../images/head.png) no-repeat top center;
	height:91px;
}
.logo{ width:170px; padding:17px 0 0 3%;}
.time{ width:440px;}
.time p{
	float:left;
	padding-left:10%;
	font-size:20px;
	color:#fff;
	line-height:91px;
}
.time .p01{ font-size:36px;}
.topNav{ width:33.2%; padding-right:3%; position:relative;}
.topNav li{
	float:left;
	width:15.6%;
	height:91px;
	position:relative;
	margin-right:1%;
}
.topNav li a{
	display:block;
	width:100%;
	padding-top:25px;
	font-size:14px;
	text-align:center;
	height:66px;
}
.topNav li:hover,.topNav .current{ background:url(../images/topNav.png) repeat top center;}
.topNav li a img{vertical-align: text-top;}
.topNav li a p{ line-height:35px;}


/*用户*/
.user{
	background-color:#151935;
	height:50px;
}

/*用户 下拉菜单*/
#help{ 
	width:12.1%;  
	text-align:right;
	position:relative;
}
#help .a01{
	display:block;
	font-size:17px;
	color:#9193a7;
	padding-right:18%;
	line-height:50px;
	background:url(../images/user.png) no-repeat right center;
}
#help .a01:hover{ color:#2f78cf;}
#help dl{
	display:none;
	position:absolute;
	top:50px;
	right:0;
	z-index:9999;
	width:105px;
}
#help:hover dl { display:block;}
#help dl dd a {
	display:block;
	font-size:14px;
	height:36px;
	line-height:36px;
	color:#303346;
	text-align:center;
	background-color:#d6dae3;
	margin-bottom:1px;
}
#help dl dd a:hover {color:#2f78cf;}
#help dl dd.top a,#help dl dd.top a:hover { border-radius:2px 2px 0 0;}
#help dl dd.bottom a,#help dl dd.bottom a:hover { border-radius:0 0 2px 2px;}

.iconList{
	padding-left:3%;
	width:50%;
	padding-top:15px;
}
.iconList li{ 
	float:left;
	padding:0 1.5%;
}
/*二级导航*/
.nav{ position:absolute;}
.nav li{
	float:left;
	padding-left:2px;
	width:90px;
	height:50px;
	margin-right:0;
	background:none;
}
.nav li:hover{ background:none;}
.nav li a{
	display:block;
	padding:12px 0 0;
	text-align:center;
	height:38px;
	width:90px;
	color:#9193A7;
	font-size:14px;
}
.nav li a:hover,.nav .current01 a{
	background:url(../images/topNav_bg.png) repeat-x top center;
	color:#fff;
}

/*******主体内容*******/
.content{
	width:95.5%;
	margin:17px auto;
	background-color:#151935;
	border-radius:1px;
	padding:20px 0 20px 1.5%;
}
/*index*/
.p02{
	color:#9193a7;
	font-size:16px;
	font-weight:bold;
}
.p02 span{
	display:inline-block;
	padding-left:5%;
	font-size:14px;
}
.overflow{
	width:100%;
	height:650px;
	margin-bottom:10px;
	overflow:hidden;
}
.block{
	width:49.5%;
	margin:20px 0 0 0;
	height:110px;
	background-color:#1c2340;
	border-radius:100px;
}
.bg01,.bg02,.bg03,.bg04{
	background:url(../images/bg01.png) no-repeat top center;
	width:66px;
	text-align:center;
	height:66px;
	line-height:66px;
	font-size:26px;
	font-family:Arial;
	color:#fff;
	margin:22.5px 0 0 3%;
}
.bg02{ background:url(../images/bg01_b.png) no-repeat top center;}
.bg03{ background:url(../images/bg01_r.png) no-repeat top center;}
.bg04{ background:url(../images/bg01_h.png) no-repeat top center;}
.box01{
	width:59%;
	padding:0 2%;
}
.title01{ padding:11px 0 20px 0; height:30px;}
.title01 h2{
	font-size:16px;
	color:#d1dae5;
	float:left;
	font-weight:normal;
}
.title01 h2 a{
	display:inline-block;
	margin:0 10px 0 0;
}
.title01 ul{ float:right;}
.title01 ul li{
	float:left;
	padding:0 5px;
}
.p03{
	clear:both;
	color:#fff;
	font-size:16px;
	width:100%;
	padding-top:13px;
}
.p03 span{ display:inline-block; float:right;}
.pro{
	width:100%;
	background-color:#9193a7;
	border-radius:100px;
	height:4px;
	position:relative;
}
.pro p{
	position:absolute;
	background-color:#1db2eb;
	border-radius:100px;
	height:8px;
	top:-3px;
}
.pro p span{
	display:block;
	position:relative;
	left:95%;
	top:-2px;
	width:12px;
	height:12px;
	background-color:#fff;
	border-radius:100px;
}
.pro .pAs{
	position:absolute;
	top:-26px;
	color:#d6dae2;
	font-size:12px;
	background:url(../images/icon17.png) no-repeat top center;
	width:60px;
	height:20px;
	text-align:center;
}
.next{
	background-color:#2d3554;
	width:22%;
	height:88px;
	border-radius:0 100px 100px 0;
	padding-top:22px;
}
.next p{
	font-size:18px;
	color:#fff;
	line-height:30px;
	text-align:center;
}
/*单厅监控*/
.contentB{ padding:20px 1.5%; height:690px;}
.listB01{ width:52px;}
.listB01 li{
	width:100%;
	background-color:#1c2340;
	border-radius:100px 0 0 100px;
	height:49px;
	margin-bottom:5px;
	padding:7px 0 0 0;
}
.listB01 li:hover,.listB01 .current03{ background:url(../images/single_bg01.png) repeat-y top left;}
.listB01 .arrow01{ 
	height:40px; 
	text-align:center;
	line-height:38px;
	cursor:pointer;
	padding:0px;
}
.listB01 .arrow01:hover{ background:#1c2340;}
.listB01 li a{
	display:block;
	width:40px;
	height:40px;
	border-radius:100px;
	background-color:#151935;
	text-align:center;
	line-height:40px;
	font-size:13px;
	color:#fff;
	font-weight:bold;
	margin-left:6px;
}
.a_bg01{ border:1px solid #3f476b;}
.a_bg02{ border:1px solid #f5b71b;}
.a_bg03{ border:1px solid #1db2eb;}
.a_bg04{ border:1px solid #eb3630;}
.mainB01{
	width:94.7%;
	background-color:#151935;
	border-radius:1px;
	padding:15px 0 15px 1%;
	height:665px;
}
.box{
	width:49%;
	padding-right:1%;
}
.box02{
	background-color:#1c2340;
	border-radius:8px;
	padding:25px 3% 5px;
}
.list01{ padding-bottom:5px;}
.list01 li{
	float:left;
	padding:0 3px;
}
.hBox01{ clear:both; height:43px;}
.hBox01 h2{
	color:#fff;
	font-size:17px;
	line-height:43px;
}
.hBox01 ul{ padding-left:3%;}
.hBox01 ul li{
	float:left;
	width:61px;
	text-align:center;
	line-height:43px;
}
.input01{ line-height:55px;}
.pBox01{
	padding:25px 0 3px 0;
	height:20px;
}
.pBox01 p{
	float:left;
	font-size:12px;
	color:#d6dae2;
}
.pro01{
	width:100%;
	height:4px;
	background-color:#9193a7;
	border-radius:100px;
	position:relative;
	margin-bottom:25px;
}
.pro01 p{
	position:absolute;
	top:-1px;
	height:6px;
	border-radius:100px;
	background-color:#1db2eb;
}
.pro01 p span{
	display:block;
	position:relative;
	left:98%;
	top:-3px;
	width:12px;
	height:12px;
	background-color:#fff;
	border-radius:100px;
}
.box03{
	background-color:#1c2340;
	border-radius:3px;
	margin-top:10px;
}
.h01{
	background:url(../images/bg04.png) repeat-x center center;
	height:22px;
	width:80%;
	margin:15px 0 0 8%;
	font-size:16px;
	color:#fff;
}
.h01 span{
	display:block;
	background-color:#1c2340;
	width:27%;
}
.list02{ 
	margin:10px 2%;
	height:220px;
	overflow:hidden;
}
.list02 li{
	height:30px;
	margin:2px 0;
	line-height:30px;
}
.list02 li:hover,.list02 .current02{
	background:url(../images/bg05.png) repeat top center;
	border-radius:100px;
}
.list02 li a{
	display:block;
	color:#9193a7;
	font-size:14px;
	padding:0 3%;
}
.list02 li a:hover,.list02 .current02 a{ background:url(../images/bg06.png) no-repeat 40% center;}
.list02 li a span{ display:inline-block;}
.add01 li a:hover,.add01 .current02 a{ background:none;}
.list02 li a img{
	display:inline-block;
	padding:0 0 0 10px;
}
.pBox02{
	width:94%;
	margin:33px auto 0;
	border:1px solid #3f476b;
	border-bottom:0px;
	height:13px;
	border-radius:2px 2px 0 0;
}
.pBox02 p{
	float:left;
	width:14.1%;
	height:13px;
	border-right:1px solid #3f476b;
}
.pBox03{
	width:98%;
	margin:3px auto;
	height:20px;
}
.pBox03 p{
	float:left;
	font-size:15px;
	color:#9193a7;
	width:13.7%;
}
.aBox01{
	padding:20px 2.3% 0 1.5%;
}
.aBox01 a{
	display:block;
	float:left;
	width:31.9%;
	text-align:center;
	color:#fff;
	font-size:12px;
	background-color:#2d3554;
	margin-left:1%;
	border-radius:3px;
	border:1px solid #f5b71b;
	height:28px;
	line-height:28px;
}
.aBox01 .a02{
	color:#3f476b;
	border:1px solid #3f476b;
}
.aBox01 .a03{
	background-color:#3f476b;
	border:1px solid #00cac4;
}
.hover01{
	position:absolute;
	top:33px;
}
.hover01 p{
	width:60px;
	height:16px;
	border:1px solid #1db2eb;
	border-radius:2px;
	font-size:12px;
	color:#d6dae2;
	text-align:center;
	line-height:16px;
	position:absolute;
	top:-25px;
	left:10px;
}
.title02,.title03{
	border-radius:3px;
	border:1px solid #3f476b;
	height:28px;
}
.title03{ height:22px;}
.title02 li,.title03 li{
	width:50%;
	float:left;
}
.title02 li a,.title03 li a{
	display:block;
	width:100%;
	text-align:center;
	line-height:28px;
	color:#9193a7;
	font-size:16px;
	border-radius:3px;
}
.title03 li a{ 
	line-height:22px;
	font-size:14px;
}
.title02 li a:hover,.title02 .current04 a,.title03 li a:hover,.title03 .current04 a{
	background-color:#1db2eb;
	color:#fff;
}
.tab02{ padding:20px 0 0 0; position:relative;}
.h02{
	font-size:16px;
	color:#fff;
	line-height:33px;
	height:33px;
	padding-left:40px;
}
.bg05{ background:url(../images/img01.png) no-repeat left center;}
.bg05_01{ background:url(../images/img02.png) no-repeat left center;}
.bg05_02{ background:url(../images/img03.png) no-repeat left center;}
.bg05_03{ background:url(../images/img04.png) no-repeat left center;}
.list03{ padding-top:25px; height:140px;}
.list03 li{
	height:28px;
	color:#3f476b;
	font-size:14px;
	line-height:22px;
	font-weight:bold;
}
.list03 li span{
	color:#9193A7;
	display:inline-block;
	padding-left:5px;
}
.list03 li:hover,.list03 .current05,.list03 li:hover span,.list03 .current05 span{ color:#fff;}
.p04{
	background:url(../images/bg08.png) no-repeat top center;
	width:97px;
	height:90px;
	text-align:center;
	line-height:90px;
	color:#fff;
	font-size:24px;
	position:absolute;
	top:90px;
	left:60%;
}
.box_00{ padding-top:8px;}
.table02{
	width:90%;
	margin:15px auto;
}
.table02 tr th{
	color:#9193a7;
	font-size:16px;
	border-bottom:1px dashed #3f476b;
	padding-bottom:10px;
}
.table02 tr td{
	text-align:center;
	color:#fff;
	font-size:14px;
	height:40px;
}
.table02 tr td input[type=checkbox], .table02 tr th input[type=checkbox]{
	vertical-align: text-bottom;
}
.table02 tr:hover td,.table02 .tr02 td{ color:#1db2eb;}



.search{
	width:92%;
	margin:0 auto;
	height:30px;
}
/*模拟下拉列表*/
.divselect{
	float:left;
	width:165px; 
	position:relative; 
	height:28px;
}
.divselect cite{
	font-style:normal;
	display:block;
	color:#fff; 
	cursor:pointer;
	background:url(../images/se01.png) no-repeat top center;
	height:28px;
	line-height:28px;
	font-size:14px;
	padding-left:15px;
}
.divselect ul{
	background-color:#000422; 
	position:absolute; 
	z-index:999; 
	display:none;
	width:165px;
	border:1px solid #9193a7;
	left:0px;
	border-radius:3px;
	top:32px;
}
.divselect ul li{
	height:30px; 
	line-height:30px;
}
.divselect ul li a{
	display:block; 
	height:30px; 
	color:#9193a7;
	width:150px;
	font-size:14px;
	padding-left:15px;
}
.divselect ul li a:hover{ background-color:#1db2eb; color:#fff;}

.textB01{
	width:185px;
	height:22px;
	padding:4px 0 0 10px;
	border:1px solid #9193a7;
	background-color:#000422;
	border-radius:2px;
	margin:0 1%;
}
.add04{
	height:25px; 
	width:180px; 
	margin-left:40px; 
	padding-top:7px;
	background-color:#151935;
}
.text02{
	background:none;
	float:left;
	height:18px;
	color:#fff;
	outline:none;
	width:80%;
	font-size:14px;
	border-left:1px solid #1494c5;
	padding-left:10px;
}
.text02::-webkit-input-placeholder{ color:#9193a7;}/*chrome,safari*/
.text02::-moz-placeholder{color:#9193a7;}/*ff*/
/*模拟下拉列表1*/
.divselect01{
	float:left;
	width:95px; 
	position:relative; 
	height:28px;
}
.divselect01 cite{
	font-style:normal;
	display:block;
	color:#fff; 
	cursor:pointer;
	background:url(../images/se02.png) no-repeat 75px center;
	height:28px;
	line-height:28px;
	font-size:14px;
	padding-left:10px;
	border:1px solid #3f476b;
	border-radius:2px;
	width:85px;
}
.divselect01 ul{
	background-color:#151935;
	position:absolute; 
	z-index:999; 
	display:none;
	width:95px;
	border:1px solid #3f476b;
	left:0px;
	border-radius:2px;
	top:32px;
}
.divselect01 ul li{
	height:30px; 
	line-height:30px;
}
.divselect01 ul li a{
	display:block; 
	height:30px; 
	color:#9193a7;
	width:85px;
	font-size:14px;
	padding-left:10px;
}
.divselect01 ul li a:hover{ background-color:#1db2eb; color:#fff;}

.add02{ width:142px;}
.add02 cite{ 
	width:132px;
	background:url(../images/se02.png) no-repeat 122px center;
}
.add02 ul{ width:142px;}
.add02 ul li a{ width:132px;}


/*弹出层*/
.popB{
	background-color:#151935;
	margin:0 auto;
	border-radius:2px;
}
.h10{
	background-color:#2d3554;
	height:56px;
	width:100%;
	text-align:center;
	line-height:56px;
	font-size:20px;
	color:#fff;
}
.p07{
	font-size:16px;
	color:#f5b71b;
	padding-bottom:40px;
}
.list06{}
.list06 li{ clear:both;}
.list06 li p{
	font-size:16px;
	color:#9193a7;
	height:45px;
}
.list06 li span{
	display:inline-block;
	font-size:16px;
	color:#fff;
	width:143px;
	padding-bottom:20px;
}
.list06 .li01 span{ width:200px;}
.text05{
	width:240px;
	background-color:#151935;
	border:1px solid #3f476b;
	height:32px;
	color:#fff;
	font-size:16px;
	outline:none;
	text-indent:5px;
	border-radius:2px;
}
.input04{ padding-top:30px;}
.a_pop01,.a_pop02{
	display:block;
	float:left;
	width:94px;
	height:34px;
}
.a_pop01{ background:url(../images/a_07.png) no-repeat top center; margin-right:70px;}
.a_pop01:hover{ background:url(../images/a_07_b.png) no-repeat top center;}
.a_pop02{ background:url(../images/a_08.png) no-repeat top center;}
.a_pop02:hover{ background:url(../images/a_08_b.png) no-repeat top center;}

.searchB01{ height:65px;}
.add03{ width:247px; height:32px;}
.add03 li a{ line-height:32px;}
.tableB02{ width:540px;}
.tableB02 table{}
.tableB02 table tr th,.tableB02 table tr td{
	color:#9193a7;
	font-size:16px;
	height:40px;
}
.tableB02 table tr td{ color:#fff; text-align:center;}
.tableB02 table .tr01 td,.tableB02 table tr:hover td{ color:#1db2eb;}

/*翻页*/
.page01{ height:55px; padding-right:5%;}
.page01 li{
	float:left;
	padding:0 5px;
	color:#3f476b;
}
.page01 li a{
	display:block;
	width:20px;
	text-align:center;
	height:17px;
	padding-top:3px;
	border:1px solid #3f476b;
	color:#3f476b;
	font-size:12px;
}
.page01 li .a05:hover,.page01 .current06 a{
	color:#fff;
	background-color:#1db2eb;
}



.list07{}
.list07 li{ padding-bottom:16px; height:34px;}
.list07 li p{
	width:60px;
	text-align:center;
	padding-right:20px;
	color:#9193a7;
	font-size:16px;
	line-height:34px;
}
.list08 li p{ width:80px;}
.text07,.text08,.text09{
	width:360px;
	height:32px;
	border:1px solid #3f486b;
	border-radius:2px;
	background-color:#151935;
	font-size:16px;
	color:#fff;
	outline:none;
	text-indent:1em;
}
.text08{ width:216px;}
.text09{ width:134px;}
.list07 li textarea{
	float:left;
	border:1px solid #3f486b;
	border-radius:2px;
	background-color:#151935;
	font-size:16px;
	color:#fff;
	outline:none;
	text-indent:1em;
	height:238px;
	width:360px;
	line-height:33px;
}
.list07 li .span04{
	display:block;
	float:left;
	width:120px;
	padding-top:5px;
	color:#fff;
}

.pB01{
	font-size:16px;
	color:#9193a7;
	padding-bottom:20px;
}
.pB01 span{
	display:inline-block;
	color:#fff;
	padding:0 20px;
}

.gp01,.gp02,.gp03{
	padding:0 0 20px 26px;
	color:#9193a7;
	font-size:16px;
}
.gp02{
	height:34px;
	line-height:34px;
}
.gp02 input{
	width:90px;
	height:32px;
	border:1px solid #3f476b;
	color:#fff;
	cursor: pointer;
	background-color:#151935;
	font-size:16px;
	text-align:center;
}
.gp02 span{
	display:inline-block;
	padding:0 10px;
	font-size:20px;
	color:#fff;
}
.gp03 input{
	margin-right:15px;
	vertical-align: text-bottom;
}
.gp03 span{
	display:inline-block;
	color:#fff;
	padding:0 20px;
}
.ting01{
	width:92%;
	margin:0 0 20px 1.5%;
	background-color:#1c2340;
	height:70px;
	overflow-y:auto;
	padding:5px;
}
.ting01 p{
	float:left;
	width:15%;
	padding-left:5%;
	color:#fff;
	font-size:14px;
	line-height:35px;
}
.ting01 p input{
	margin-right:10px;
	vertical-align: text-bottom;
}
.a-img{
	display: inline-block;
    line-height: normal;
}
.a-img img{
	vertical-align: text-bottom;
}
.tbl-out{
	table-layout: fixed;
}
.td-over{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.td-pd01{
	padding-left: 2%;
}
.td-pd02{
	padding-left: 4%;
}