@charset "utf-8";
/* CSS Document */

.qualityB01{
	width:49%;
	background-color:#1c2340;
	border-radius:8px;
	height:204px;
	margin:0 1% 11px 0;
}
.h03{
	width:100%;
	border-radius:8px 8px 0 0;
	background-color:#2d3554;
	height:38px;
	color:#9193a7;
	text-align:center;
	line-height:38px;
	font-size:16px;
}
.list04{
	border-left:1px solid #151935;
	height:113px;
	width:89%;
	margin:27px auto 0;
}
.list04 li{
	float:left;
	width:14.7%;
	border-right:1px solid #151935;
	text-align:center;
	height:113px;
}
.list04 .li02{ width:10%;}
.list04 li p{
	font-size:14px;
	color:#fff;
	line-height:24px;
}
.list04 li .p05{ height:75px;}
.list04 .li02 p{
	font-size:14px;
	color:#9193a7;
}
.list04 li p span{
	font-size:24px;
	color:#1db2eb;
}
.list05{
	height:56px;
	padding-top:25px;
	width:83%;
	margin:0 auto;
}
.list05 li{
	width:16.6%;
	float:left;
}
.list05 li a{
	display:block;
	font-size:12px;
	color:#d1dae5;
	padding-left:35px;
}
.quality_01{ background:url(../images/quality_01.png) no-repeat left center;}
.quality_02{ background:url(../images/quality_02.png) no-repeat left center;}
.quality_03{ background:url(../images/quality_03.png) no-repeat left center;}
.quality_04{ background:url(../images/quality_04.png) no-repeat left center;}
.quality_05{ background:url(../images/quality_05.png) no-repeat left center;}
.quality_06{ background:url(../images/quality_06.png) no-repeat left center;}
.form01{
	width:83%;
	margin:0 auto;
	text-align:center;
	height:310px;
}
.qualityP01{
	background:url(../images/quality01.png) no-repeat top center;
	width:526px;
	height:30px;
	margin:0 auto;
	text-align:center;
	line-height:30px;
	font-size:14px;
	color:#9193a7;
}