@charset "utf-8";
/* CSS Document */

.systemB01{
	height:110px;
	margin-bottom:15px;
	background-color:#151935;
	border-radius:1px;
}
.sys_h01{
	height:38px;
	line-height:38px;
	background-color:#2d3554;
	border-radius:1px 1px 0 0;
	padding-left:20px;
	font-size:16px;
	color:#9193a7;
}
.sys_list01{
	clear:both;
	height:28px;
	padding:20px 0 0 0;
}
.sys_list01 li{
	float:left;
	padding:0 1%;
	color:#9193a7;
	font-size:14px;
	line-height:28px;
}
/*.sys_list01 li p{
	font-size:14px;
	color:#9193a7;
	line-height:28px;
}*/
.sys_text01,.sys_text02{
	display:block;
	float:left;
	height:26px;
	border:1px solid #9193a7;
	width:160px;
	background-color:#000422;
	border-radius:2px;
	color:#fff;
	font-size:14px;
	text-indent:1em;
}
.sys_text02{ width:250px;}
.sys_button01{
	float:left;
	background:url(../images/bg27.png) no-repeat top center;
	width:76px;
	height:26px;
}
.sys_hB01{
	background-color:#2d3554;
	height:38px;
}
.sys_list02{ padding-top:6px;}
.sys_list02 li{
	float:left;
	padding:0 10px;
}
.sys_button02{
	background:url(../images/bg26.png) no-repeat top center;
	width:66px;
	height:26px;
	cursor:pointer;
}
.sys_button03{
	background:url(../images/bg24.png) no-repeat top center;
	width:74px;
	height:26px;
	cursor:pointer;
}
.sys_button04{
	background:url(../images/bg25.png) no-repeat top center;
	width:74px;
	height:26px;
	cursor:pointer;
}
.systemB02{
	height:573px;
}
.sys_Box01{
	width:95.7%;
	height:573px;
	float:left;
}
.sys_Box02{
	width:24.2%;
	margin-right:1%;
	height:533px;
	background-color:#1c2340;
	border-radius:1px;
	padding:20px 0;
}
.sys_h02{
	height:38px;
	text-align:center;
	line-height:38px;
	background-color:#2d3554;
	color:#9193a7;
	font-size:16px;
}
.sys_Box03{ height:460px;}
.sys_list03{
	width:94%;
	height:390px;
	margin:0 auto;
	padding:20px 0 0;
}
.sys_list03 li{
	height:56px;
}
.sys_list03 li p{
	width:21%;
	font-size:14px;
	color:#9193a7;
	line-height:28px;
}
.sys_text03,.sys_text04{
	float:left;
	width:78%;
	height:26px;
	border:1px solid #3f476b;
	background:none;
	border-radius:1px;
	color:#fff;
	text-indent:5px;
}
.sys_text04{ width:50px; text-align:center; text-indent:0px;}
.sys_pB01{}
.sys_pB01 p{
	float:left;
	width:30%;
	font-size:14px;
	color:#fff;
	line-height:20px;
}
.sys_pB01 input{ margin-right:10px;}
.sys_pB01 .sys_p01{
	color:#8a8da1;
	text-align:center;
}
.sys_input01{ clear:both; padding:0 0 0 8%;}
.sys_button05,.sys_button06,.sys_button07{
	display:inline-block;
	background:url(../images/a_10.png) no-repeat top center;
	width:76px;
	height:26px;
	margin-right:1%;
	cursor:pointer;
}
.sys_button05:hover{ background:url(../images/a_10_b.png) no-repeat top center;}
.sys_button06{ background:url(../images/a_04.png) no-repeat top center;}
.sys_button06:hover{ background:url(../images/a_04_b.png) no-repeat top center;}
.sys_button07{ background:url(../images/a_01.png) no-repeat top center;}
.sys_button07:hover{ background:url(../images/a_01_b.png) no-repeat top center;}


/*用户管理*/
.userBox{ height:600px;}
.p_Box01{
	padding-left:20px;
}
.p_Box01 p{
	color:#fff;
	font-size:14px;
	padding-left:25px;
	height:40px;
	line-height:40px;
	background:url(../images/alert04_01.png) no-repeat left center;
}
.p_Box01 p:hover,.p_Box01 .p_current01{ color:#1db2eb;}
.table02 tr .td01{ border-bottom:1px dashed #3f476b;}
.button_a{
	display:inline-block;
	width:73px;
	height:24px;
	line-height:24px;
	text-align:center;
	border:1px solid #1db2eb;
	border-radius:2px;
	color:#1db2eb;
	font-size:14px;
	margin:0 8px;
}


/*影院管理20181202*/
.button_add01{
	width:72px;
	height:24px;
	border:1px solid #1db2eb;
	border-radius:2px;
	color:#1db2eb;
	font-size:13px;
	background:none;
}
.sys_text05,.sys_text06{
	width:72px;
	background-color:#000422;
	border: 1px solid #9193a7;
	height: 24px;
	color: #fff;
	font-size: 14px;
	outline: none;
	text-indent: 5px;
}
.sys_text06{ width:27px; margin-right:3px;}
.sys_list01 li.input_sys01{ width:166px; float:right;}
.input_sys01 input{ float:left; margin-left:5px;}
.divselect01{ width:98px;}
.divselect01 cite{ 
	width:98px;
	background:url(../images/se02.png) no-repeat 88px center;
}
.divselect01 ul{ width:108px;}
.divselect01 ul li a{ width:98px;}