@charset "utf-8";
/* CSS Document */
*{
	/*margin: 0;
	padding: 0;*/
}
html{
	font-size: 62.5%;
}
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td
	{
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

body,button,input,select,textarea {
	font: 12px/1.5 "微软雅黑", "宋体", arial, tahoma, \5b8b\4f53, sans-serif;
}

body {
	background-color: #f1f2f7;
	color: #666;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
}

img {
	border: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
th{
	font-weight: 400;
	text-align: left;
}

a {
	color: #666;
	text-decoration: none;
	blr: expression(this.onFocus = this.blur () );
	outline: none
}

a:hover {
	color: #da6e72;
	text-decoration: none;
}
/*上标*/
sup {
	vertical-align: text-top;
}
/*下标*/
sub {
	vertical-align: text-bottom;
}
/*clear*/
.clean {
	clear: both;
}
/* clearfix */
.clearfix {
	display: block;
	height: 0;
	line-height: 0;
	font-size: 0
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

* html .clearfix {
	height: 1%;
}

.fl{
	display: inline;
	float: left;
}
.fr{
	display: inline;
	float: right;
}

/* 宽度 */
.w1290{
	width: 1290px;
}
.w1280{
	width: 1280px;
}
.w1230{
	width: 1230px;
}
.w1070{
	width: 1070px;
}
.w1035{
	width: 1035px;
}
.w1030{
	width: 1030px;
}
.w1024{
	width: 1024px;
}
.w1020{
	width: 1020px;
}
.w1018{
	width: 1018px;
}
.w1008{
	width: 1008px;
}
.w988{
	width: 988px;
}
.w210{
	width: 210px;
}
.w66{
	width: 66px;
}
.w60{
	width: 60px;
}
.w27{
	width: 27px;
}
.wp1{
	width: 99.8%;
}

/* 高度 */
.h15{
	height: 15px;
}
.h20{
	height: 20px;
}
.h25{
	height: 25px;
}
.h27{
	height: 27px;
}
.h50{
	height: 50px;
}
.h60{
	height: 60px;
}
.h74{
	height: 74px;
}
.hauto{
	height: auto;
}

/* 边距 */
.mtauto{
	margin: 0 auto;
}
.m20{
	margin: 20px auto;
}
.mt20{
	margin-top: 20px;
}
.mt30{
	margin-top: 30px;
}
.mt-20{
	margin-top: -20px;
}
.mt-10{
	margin-top: -10px;
}
.mt-3{
	margin-top: -3px;
}
.mt-2{
	margin-top: -2px;
}
.mt-1{
	margin-top: -1px;
}
.mr30{
	margin-right: 30px;
}
.mb10{
	margin-bottom: 10px;
}
.mb15{
	margin-bottom: 15px;
}
.mb20{
	margin-bottom: 20px;
}
.mb25{
	margin-bottom: 25px;
}
.mb30{
	margin-bottom: 30px;
}
.ml5{
	margin-left: 5px;
}
.ml15{
	margin-left: 15px;
}
.ml20{
	margin-left: 20px;
}
.pdtb30{
	padding: 30px 0;
}
.pdtb25{
	padding: 25px 0;
}
.pdtb20{
	padding: 20px 0;
}
.pdtb10{
	padding: 10px 0;
}
.pdtp12{
	padding-top: 12px;
}
.pdrt5{
	padding-right: 5px;
}
.pdrt10{
	padding-right: 10px;
}
.pdlt5{
	padding-left: 5px;
}
.pdlt10{
	padding-left: 10px;
}

/* 字体 */
.ff1{
	font-family: "MicrosoftYaHei","微软雅黑";
}

/* 字体颜色 */
.clr0{
	color: #fff;
}
.clr1{
	color: #333;
}
.clr2{
	color: #a9d86d;
}
.clr3{
	color: #00a1eb;
}
.clr4{
	color: #339999;
}
.clr5{
	color: #da6e72;
}
.clr6{
	color: #666;
}
.clr7{
	color: #999;
}
.clr8{
	color: #a9b7b7;
}
.clr9{
	color: #7F7F7F;
}

/* 字体大小 */
.fs12{
	font-size: 12px;
}
.fs13{
	font-size: 13px;
}
.fs14{
	font-size: 14px;
}
.fs15{
	font-size: 15px;
}
.fs16{
	font-size: 16px;
}
.fs18{
	font-size: 18px;
}
.fs20{
	font-size: 20px;
}

/* 字体粗细 */
.fw4{
	font-weight: 400;
}
.fw6{
	font-weight: 600;
}

/* 行高 */
.lh35{
	line-height: 35px;
}
.lh50{
	line-height: 50px;
	text-indent: 1.5em;
}

/* 对齐方式 */
.lf{
	text-align: left;
}
.rt{
	text-align: right;
}
.tp{
	vertical-align: top;
}
.bl{
	vertical-align: baseline;
}
.md{
	vertical-align: middle;
}
.btm{
	vertical-align: bottom;
}

/* (表格)数据列表 */
.show-list{
	/*background-color: #fff;*/
	height: auto;
}
.show-list-head{
	background: url("../images/bg4.png") no-repeat 0 0;
	line-height: 50px;
    text-indent: 1.5em;
}
.show-list-tbl{
	background: url("../images/bg5.png") no-repeat -2px -1px;
	background-color: #f9f9f9;
	font-size: 13px;
	font-weight: 400;
	width: 100%;
}
.show-list-tbl-head{
	/*background: url("../images/bg5.png") no-repeat -2px -1px;*/
	line-height: 54px;
	text-align: left;
}
.tr-alg{
	text-align: left;
}
.th-idt{
	text-indent: 2em;
}
.th-idt2{
	text-indent: 1.5em;
}
.td-line{
	overflow: hidden;
	padding: 0 15px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.show-list-tbl-data{
	line-height: 57px;
}
.show-list-tbl-data-even{
	background-color: #fff;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
}
.show-list-tbl-data-odd{
	background-color: #f9f9f9;
}
a.oper-btn{}
a.oper-btn:hover{}
a.oper-edit-btn{
	padding: 0 10px;
}
.foot-set{
	height: 63px;
	line-height: 63px;
}
.foot-set2{
	height: 63px;
}
.show-list-tbl-foot{
	background: #f1f2f7 url("../images/bg6.png") no-repeat 0 0;
}
.show-list-foot{
	background: #f1f2f7 url("../images/bg6-1.png") no-repeat -1px 0;
}
.page-box{
	width: 950px;
}
a.page-btn{
	color: #666;
	display: inline-block;
	line-height: 27px;
	text-align: center;
}
a.page-btn:hover{
	color: #da6e72;
}
.page-prev{
	background: url("../images/page-pn.png") no-repeat 0 0;
}
a.page-unclick, a.page-unclick:hover{
	color: #ccc;
}
.page-active{
	background: url("../images/page-act.png") no-repeat 0 0;
}
.page-normal{
	background: url("../images/page-normal.png") no-repeat 0 0;
}
.page-next{
	background: url("../images/page-pn.png") no-repeat 0 0;
}
.no-data-div{
	background: #fff url("../images/bg6-1.png") no-repeat scroll center bottom;
    /*height: 10px;*/
	padding: 20px;
    width: 980px;
}