@charset "utf-8";
/* CSS Document */

/* common */
.cmn-btn{
	border: none;
	height: 37px;
	line-height: 36px;
	text-align: center;
}
.div-box{}
.div-head{
	background: url("../images/bg12-t.png") no-repeat 0 0;
	height: 12px;
}
.div-data{
	height: auto;
	background: url("../images/bg12-m.png") repeat-y 0 0;
}
.div-foot{
	background: url("../images/bg12-b.png") no-repeat 0 0;
	height: 20px;
}
/* 日期选择区域 */
.time_search{
	background: url("../images/bg11.png") no-repeat 0 0;
	width: 180px;
}
.time_search .time {
	background: transparent;
	border: none;
	color: #999;
    cursor: pointer;
    font-size: 13px;
	height: 32px;
	line-height: 32px;
	padding-left: 15px;
	vertical-align: top;
	width: 129px;
}
.time_search .sh {
	background: url("../images/calendar-icon.png") no-repeat scroll center center;
	border: none;
    cursor: pointer;
    height: 34px;
    position: absolute;
    width: 36px;
}

/* 我的影院 */
.yy-prop{
	background: url("../images/bg1.png") no-repeat 0 0;
	height: 110px;
}

.yy-tbl{
	height: 80px;
	margin: -3px auto 0;
    width: 96%;
}

.chege_tbn, .save_tbn{
	background: url("../images/bg2.png") no-repeat 0 0;
	border: none;
	height: 34px;
	line-height: 32px;
	text-align: center;
	width: 100px;
}
.save_tbn{
	display: none;
}

.add-hall-btn{
	background: url("../images/bg3.png") no-repeat 0 0;
	width: 104px;
}
.add-hall-disabled{
	background: url("../images/bg3-0.png") no-repeat 0 0;
	width: 104px;
}

.csList{
	display: none;
}
.csListSlt{
	width: 95px;
}

.input_w0{
    width: 140px;
}
.input_w1{
    width: 80px;
}
.input_w2{
    width: 60px;
}
.movie-code{
    color: #ff6600;
    font-size: 12px;
    margin-top: -15px;
    position: relative;
    width: 105px;
}
.district-info-child select {
    height: 22px;
    margin-right: 5px;
    width: 59px;
}

/* 排期设置 */
.ss-param{
	height: auto;
}

.ss-param-head{
	background: url("../images/bg8.png") no-repeat 0 0;
	margin-bottom: -2px;
    position: relative;
}

.ss-param-data{
	background-color: #fff;
    height: auto;
    margin: 0 auto;
    padding: 20px 0;
    width: 1018px;
}

.ss-param-tbl{
	width: 98%;
}
.time-box{
	display: inline-block;
}

.span-colon{
	color: #333;
	clear: both;
    display: inline-block;
    line-height: 30px;
    margin-top: 7px;
    padding: 0 3px;
    vertical-align: top;
}

.ss-param-ipt{
	border: none;
	color: #999;
	font-size: 15px;
	height: 36px;
	line-height: 36px;
	padding: 0 5px;
	text-align: center;
	width: 208px;
}

.ss-param-ipt-normal{
	background: transparent url("../images/ipt-bg1.png") no-repeat 0 0;
}

.ss-param-ipt-error{
	background: transparent url("../images/ipt-bg1-1.png") no-repeat 0 0;
}

.ss-param-foot{
	text-align: left;
}
@-moz-document url-prefix() {
	.ss-param-foot{
		
	}
}

.ss-param-btn{
	border: none;
	color: #fff;
	height: 34px;
	line-height: 34px;
	vertical-align: top;
	width: 93px;
}
.ss-param-btn-cancle{
	background: transparent url("../images/cancle.png") no-repeat 0 0;
	margin: 0 20px 0 198px;
}
.ss-param-btn-save{
	background: transparent url("../images/save.png") no-repeat 0 0;
}

/* 排片计划 */
.foot-small{
	background: #f1f2f7 url("../images/bg6.png") no-repeat scroll 0 -53px;
    height: 10px;
}
.get-rcmd-list-btn{
	background: url("../images/bg3-1.png") no-repeat 0 0;
	vertical-align: bottom;
    width: 122px;
}

.hideItemId, .hidePlanId, .hideFilmId{
    display: none;
}

.auto-load-set{
	vertical-align: bottom;
}

.auto-chk{
	margin: 0 5px 2px 10px;
    vertical-align: bottom;
}

.auto-text{
	cursor: pointer;
}

.total-span{
	color: #3399CC;
	padding: 0 5px;
}

.create-sch-box{
	height: 63px;
}
.create-sch-box-hide{
	display: none;
}
.custom-schbtn{
	display: inline-block;
}
.create-sch-date{
	display: inline-block;
	height: 34px;
	line-height: 35px;
    margin: 0 20px;
    text-align: left;
    width: 150px;
}
a.create-sch{
	display: inline-block;
	height: 37px;
	line-height: 37px;
	margin-left: 20px;
	text-align: center;
	width: 98px;
}
a.create-sch-hover{
	background: url("../images/bg9.png") no-repeat 0 0;
	color: #848484;
}
a.create-sch-hover:hover{
	background: url("../images/bg9-1.png") no-repeat 0 0;
	color: #fff;
}

.new-film-list{
	background-color: #fff;
    height: auto;
    margin: 0 auto;
    padding: 10px 0 5px;
    width: 1018px;
}
.new-film-list-ul{
	margin: 0 auto;
	width: 998px;
}
.new-film-list-li{
	float: left;
	height: auto;
	margin: 10px;
	width: 207px;
}
.new-film-top, .new-film-btm{
	height: 5px;
}
.new-film-top{
	background: url("../images/bg10-t.png") no-repeat 0 0;
}
.new-film-btm{
	background: url("../images/bg10-b.png") no-repeat 0 0;
}
.new-film-data{
	background: url("../images/bg10-m.png") repeat-y 0 0;
	height: 60px;
	line-height: 30px;
}
.new-film-data-null{
	background: url("../images/bg10-m.png") repeat-y 0 0;
	height: auto;
	line-height: 30px;
	text-align: center;
}
.new-film-data div{
	float: left;
}
.new-film-data-no{
	color: #999999;
    font-size: 20px;
    margin-top: 15px;
    padding: 0 5px;
    text-align: center;
    width: 30px;
}
.new-film-data-option{
	margin-left: 5px;
	width: 125px;
}
.new-film-data-option p{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.new-film-data-name{}
.new-film-data-time{}
.new-film-data-per{
	margin-top: 15px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	width: 30px;
}

.custom-menu{
	background-color: #6e87a2;
	height: 39px;
	line-height: 39px;
}
.custom-menu li{
	display: block;
	float: left;
	text-align: center;
}
.custom-menu li a{
	background-color: #6e87a2;
	color: #fff;
	display: block;
}
.today-menu{
	width: 135px;
}
.custom-menu li a.today-menu-normal{
	background: url("../images/td.png") repeat-y 0 0;
	color: #fff;
}
.custom-menu li a.today-menu-act{
	background: url("../images/td1.png") repeat-y 0 0;
	color: #7F95AD;
}
.week-menu{
	width: 132px;
}
.custom-menu li a.week-menu-normal{
	
}
.custom-menu li a.week-menu-act{
	background-color: #fff;
	color: #7F95AD;
}
.placeholder-menu{
	background-color: #6e87a2;
}
/* 排片率 影片列表 */
.slt-film-name{
	color: #999;
	cursor: pointer;
	font-family: "宋体";
	padding: 0 0 0 10px;
}
.slt-film-list, .add-film-pannel{
	background-color: #fff;
	border-color: #eee;
	border-style: solid;
	border-width: 1px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: none;
	height: auto;
	margin: 0;
    padding: 10px 5px;
    position: absolute;
	width: 93.5%;
	z-index: 1;
}
.slt-film-list .list-block{
	background-color: #fafbfb;
	/*float: left;
	margin: 0 10px;*/
	position: relative;
}
.slt-film-list .list-block a{
	padding: 5px 10px;
}
.slt-film-list .list-block ul{
	list-style: none;
	margin: 0;
	position: relative;
}
.slt-film-list .list-block ul li{
	color: #7098a3;
	cursor: pointer;
	float: left;
	font-family: "SimHei";
	line-height: 26px;
	margin: 0 7px;
	padding: 1px 5px;
}
.slt-film-list .list-block ul li.bgc1{
	background-color: #eee;
	border-color: #bbb;
	border-style: solid;
	border-width: 0px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.slt-film-list .list-block ul li.no-film-data{
	color: #f30;
	display: none;
}
.slt-film-list .search_block{
	background: -webkit-linear-gradient(#fff, #f8f7f2);
	background: -o-linear-gradient(#fff, #f8f7f2);
	background: -moz-linear-gradient(#fff, #f8f7f2);
	background: linear-gradient(#fff, #f8f7f2);
	background-color: #FDFDFC;
	border-color: #eee;
    border-style: solid;
    border-width: 1px;
	-khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
	height: 35px;
    line-height: 35px;
    margin-bottom: 10px;
    padding: 3px 0;
    text-align: center;
}
.slt-film-list .search_block span{
	color: #7098a3;
	font-weight: 700;
}
.slt-film-list .search_block span.sp-3{
	font-size: 14px;
}
.slt-film-list .search_block span.add-film-btn{
	color: #666;
    cursor: pointer;
}
.slt-film-list .search_block span.sep-line{
	padding: 0 10px;
}
.slt-film-list .search_block input{
	background: #fff;
	border: 1px solid #ddd;
	-khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
	color: #999;
}
.slt-film-list .search_block input.ipt-1{
	height: 24px;
	line-height: 24px;
}
.add-film-pannel p{
	color: #07637d;
	line-height: 35px;
	text-align: center;
}
.add-film-pannel p label.label-1{
	font-weight: bold;
}
.add-film-pannel p label.label-2{
	color: #7098a3;
}
.add-film-pannel p input.input-1{
	color: #7098a3;
	height: 22px;
	line-height: 22px;
	width: 150px;
}
.add-film-pannel p input.input-2{
	margin-right: 10px;
	width: 112px;
}
.add-film-pannel p input.input-chk{
	border: none;
	height: auto;
	margin-top: -1px;
    vertical-align: middle;
    width: auto;
}
.add-film-pannel p span.sp-2{
	padding: 0 8px;
}
.add-film-pannel p.btn-class{
	line-height: 45px;
	padding: 25px 0 0;
}
/* 排片率 影片列表 */
/*排片率弹出层*/
.blankDivs{
	background: none repeat scroll 0 0 #aaadae;
	width: 100%;
	filter: alpha(opacity = 30);
	opacity: 0.3;
	position: absolute;
	z-index: 200;
	display: none;
	top:0px;
	left: 0px;
}
.addMveIfDivs{
	background-color: #fff;
	z-index: 300;
	/*border: 1px solid #bbc3c6;*/
	width: 500px;
	/*height: 408px;*/
	position: absolute;
	top: 150px;
	left: 430px;
	display: none;
}
.add_top_divs{
	background: url("../images/bg8-1.png") no-repeat scroll 0 0;
	color: #666;
	font-family: "微软雅黑";
	font-size: 15px;
	height: 50px;
	line-height: 50px;
	width: 100%;
}
.add_top_divs .addtosp1{
	padding-left: 10px;
	float: left;
}
.add_top_divs .addtosp2{
	padding-right: 10px;
	float: right;
	cursor: pointer;
}
.add_centre_divs{
	padding: 20px 0;
	width: 100%;
	/*height: 380px;*/
	text-align:center;
}
.add_table{
	margin: auto;
	width: 92%;
	padding-top: 36px;
}
.add_table tr td{
	height: 35px;
	font-size: 14px;
}
.add_table tr td input{
	height: 24px;
	width: 200px;
	padding-left:5px;
	font-size: 12px;
	font-family: "微软雅黑";
	border: 1px solid #c5c5c5;
	line-height: 24px;
}
.addRowPerSp{
	float: left;
	height:25px;
	line-height: 25px;
}
.add_table .pft{
	background-color: #fff;
    border: 1px solid #c5c5c5;
    margin: 7px 0 5px;
    min-height: 24px;
    padding: 0 5px;
    text-align: left;
    width: 195px;
}
.add_table .pft span.pft-sp1{
	padding: 0 8px 0 0;
}
.add_table .pft span.pft-sp2{
	color: #f30;
}
.add_table .pft input.input-chk2{
	border: none;
	height: auto;
	margin-top: -1px;
    vertical-align: middle;
    width: auto;
}
.add_table .selectsp{
	border: 1px solid #c5c5c5;
	width:82px;
	height: 24px;
	margin-right: 124px;
}
.add_table .selectsp option{
	height: 20px;
}

.add_table .clsHours{
	width: 168px;
}
.add_table .clsMinute{
	width: 40px;
}
.add_table .clsSeconds{
	width: 40px;
	margin-right: 4px;
}

.add_centre_divs .add_buttoms{
	text-align: center;
	font-size: 14px;
	margin-top: 28px;
	/*margin-left: 140px;*/
	color: #445f8c;
}
.add_centre_divs .btnspan1, .add_centre_divs .btnspan2{
	height: 30px;
	width: 88px;
	display: block;
	line-height: 29px;
	cursor: pointer;
	float: left;
	color: #FFF;
}
.add_centre_divs .btnspan1{
	background: url("../images/btn-1.png") no-repeat 0 0;
	margin-left: 152px;
}
.add_centre_divs .btnspan1-1{
	border: none;
	font-size: 14px;
	line-height: 23px;
	text-align: center;
}
.add_centre_divs .btnspan2{
	background: url("../images/btn-1.png") no-repeat 100% 0;
	margin-left: 20px;
}

/* 按影厅显示 */
.time-box-sch{
	height: 34px;
}
.time-box-sch .profile{
	margin: 0 auto;
}
.tip-light{
	height: 80px;
    vertical-align: middle;
    width: 80px;
}
.tip-text-nodata{
	padding-left: 15px;
}

/* 观影成绩单 */
.detailIndex{
	clear: both;
	display: inline-block;
	margin-left: 30px;
}
.detailIndex a{
	display: none;
	padding: 5px 15px;
	background-color: #EBF1F1;
	border: 1px solid #CCC;
	color: #666;
	cursor: pointer;
}
.detailIndex a:hover{
	/*color: #FF9955;*/
}
.detailIndex a.load_img{
	display: inline-block;
	padding: 5px 12px;
}
.detailIndex a.load_img img{
	vertical-align: middle;
}

#detailContainer .reportCntTbl, #pageContainer{
	display: none;
}
.reportCnt{
	margin: 15px auto 0;
}
.updateBtn{
	position: absolute;
	border: none;
	cursor: pointer;
    height: 28px;
    margin: -2px 0 0 30px;
    width: 28px;
    /*margin-left: 22px;*/
    background:url("../images/save_ok.png") no-repeat 0 0;
    background-color: none;
    background-size: 100%;
}
.updateBtn-load{
	position: absolute;
	border: none;
	cursor: pointer;
    height: 28px;
    margin: -2px 0 0 30px;
    width: 28px;
    /*margin-left: 22px;*/
    background:url("../images/load.gif") no-repeat 0 0;
    background-color: none;
    background-size: 100%;
}
.reportCntTbl{
	word-break: break-all;
}
.yting table td{
	padding: 5px 0;
}
.yting table td.titleWhite{
	color: #07637d;
}

.reportDetail{
	margin-bottom: 15px;
}
.filmListBox{
	width: 60px;
	overflow: hidden;
}
.userSltFilm{
	color: #07637d;
	cursor: pointer;
	/*height: 18px;*/
	padding: 0 5px;
	width: 120px;
}
.userInputFilm{
	border: 2px solid #11C2EE;
	color: #21C6EF;
	height: 24px;
	margin: 5px 0 10px;
	width: 158px;
	text-align: center; 
}
.filmListBox-div{
	background-color: #fefefe;
    border: 1px solid #ccc;
    display: none;
    height: 280px;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5px;
    position: absolute;
    width: 182px;
}
.filmListBox-ul{
    list-style: outside none none;
    margin: 0;
}
.filmListBox-ul li{
	cursor: default;
	padding: 0 0 0 5px;
	/*line-height: 26px;*/
	text-align: left;
}

/* 上传控件 */
.upCtrl{
	margin: 0 auto;
	overflow:hidden;
	padding:0 0;
	width:95%;
}
.upCtrl input{
	border:0;
	padding:0;
	margin:0;
	vertical-align: middle;
}
.title-border {
    /*float: left;*/
    display: inline-block;
}
.line{
	display: inline-block;
	/*float: left;*/
	position:relative;
	margin:0 0;
	width:450px;
	text-align:left;
}
.line span.span{
	float:left;
	margin: 0 10px 0 5px;
} 
.file{
	position:absolute;
	left:0;
	width:333px;
	top:0;
	height:40px;
	filter:alpha(opacity=0);
	opacity:0;
	cursor: pointer;
} 
.file1{
	float:left;
	margin: 0 8px;
	z-index:1;
	width:74px;
 	height:36px;
 	background:url(../images/up-view.png) no-repeat 0 0;
	text-indent:-9999px;
	cursor: pointer;
} 
.upCtrl input.inputstyle{
	background:transparent url(../images/bg13.png) no-repeat 0 0;
	border:none;
	width:213px;
	float:left;
	height:26px;
	padding: 5px;
	line-height:26px;
	background-color:#fafbfb;
	z-index:99;
}
.upCtrl input.upDtlBtn{
	width: 108px;
	height: 36px;
	margin-left: -8px;
	background:url(../images/up-btn.png) no-repeat 0 0;
	cursor: pointer;
}
.up-query{
	float: right;
}
.up-query label{
	color: #07637d;
	font-size: 14px;
	font-weight: bold;
}

.submitBtn, .saveBtn, .editBtn, .countBtn{
	width: 60px;
	height: 28px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin-left: 5px;
}
.saveBtn1, .editBtn1, .queryBtn{
	width: 28px;
	height: 28px;
	margin: 0 3px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.queryBtn{
	background:url("../images/query.png") no-repeat left center;
}
.submitBtn{
	/*width: 76px;
	height: 30px;
	background:url(../images/submit1.jpg) no-repeat 0 0;*/
	background: #389eb7 none repeat scroll 0 0;
    color: #fff;
    font-size: 16px;
    height: 30px;
    width: 100%;
}
.saveBtn{
	background:url("../images/save.jpg") no-repeat 0 0;
}
.saveBtn1{
	width: 28px;
	background:url("../images/oper.jpg") no-repeat 0 0;
}
.countBtn{
	height: 30px;
	background:url("../images/count.jpg") no-repeat 0 0;
}
.editBtn{
	background:url("../images/edit.jpg") no-repeat 0 0;
}
.editBtn1{
	background:url("../images/oper.jpg") no-repeat 100% 0;
}
.query-input{
	background-color: transparent;
	border: 1px solid #CCC;
	color: #333;
	cursor: pointer;
}

.history-data-query{
	margin-top: 35px;
}
/* 上传控件 */
.head-tt-lf{
	float: left;
}
.head-tt-rt{
	background: url("../images/bg11.png") no-repeat 20px 0;
	float: right;
	height: 34px;
	margin-right: 40px;
    margin-top: 8px;
}
/*当日前五*/
.top-tbl th, .top-tbl td{
	text-align: center;
}
.top-five-tbl-for-sch{}
.top-five-tbl{
	display: none;
}

.user-set-date{
	height: 34px;
	margin: 0 auto;
    text-align: left;
	width: 150px;
}

.time_search .topFiveFilmTime{
	background: transparent none repeat scroll 0 0;
    border: medium none;
    color: #999;
    cursor: pointer;
    font-size: 13px;
    height: 32px;
    line-height: 32px;
    padding-left: 15px;
    vertical-align: top;
    width: 99px;
}
.topFiveTicketTotal{
	border: none;
	color: #999;
	font-size: 15px;
	height: 34px;
	line-height: 34px;
	padding: 0 5px;
	text-align: center;
	width: 90px;
}
.topFiveTicketTotal-normal{
	background: transparent url("../images/ipt-bg2.png") no-repeat 0 0;
}

.topFiveTicketTotal-error{
	background: transparent url("../images/ipt-bg2-1.png") no-repeat 0 0;
}

.btn-save{
	background-color: #f1f1f1;
    border: 1px solid #cac9c9;
    color: #5c5b5b;
    cursor: default;
    height: 32px;
    line-height: 30px;
    margin: 0 10px;
    text-align: center;
    width: 98px;
}

.appendSelf, .unAppendSelf, .btn-edit, .btn-delete{
    background: transparent url("../images/bg9.png") no-repeat scroll 0 0;
    border: none;
    color: #848484;
    display: inline-block;
    height: 37px;
    line-height: 36px;
    margin-left: 110px;
    text-align: center;
    width: 98px;
}
.appendSelf{
	background: transparent url("../images/bg9.png") no-repeat scroll 0 0;
}
.unAppendSelf{
	display: none;
}
.btn-edit, .btn-delete{
	background: transparent url("../images/bg14.png") no-repeat scroll 0 0;
	margin-left: 15px;
    width: 62px;
}
.btn-delete{
	margin-left: 5px;
}
.insert-tr-html{
	display: none;
}
.top5-detail{
	display: none;
}
/*统计分析*/
.div-data-lr{

}
.div-data-lt{
    float: left;
    width: 700px;
}
.div-data-lt-title{
	display: inline-block;
    height: 34px;
    line-height: 34px;
    vertical-align: top;
}
.div-data-lt a.chart-a{
	background-color: #F4F4F4;
	border: 1px solid #dedede;
	font-size: 13px;
	height: 36px;
    line-height: 36px;
	text-align: center;
	width: 83px;
}
.div-data-lt a.active{
	background: transparent url("../images/bg15.png") no-repeat scroll 0 0;
	border: 1px solid #fff;
	color: #fff;
    /*height: 36px;
    line-height: 36px;*/
}
.div-data-lt-date{
	display: inline-block;
    vertical-align: top;
}
.div-data-rt{
	float: right;
}

.mt_sub_menu_cmn{}
.mt_sub_menu_cmn a{
	color: #fff;
	display: block;
	float: left;
    text-align: center;
    width: 135px;
}
.mt_sub_menu_cmn a.today-menu-act {
    background: url("../images/td1.png") no-repeat scroll 0 0;
    color: #7f95ad;
}
.mt_sub_menu_cmn a.active {
    background-color: #fff;
    color: #7f95ad;
}

.area-chart{}
.area-chart-show{
	background-color: #fff;
}
.mt_cnt_box {
    clear: both;
    padding: 15px 0;
}

.mt_title_cnt{
	line-height: 80px;
}

.mt_title_cnt a{
	color: #999;
    display: inline-block;
	font-size: 13px;
	line-height: 38px;
	text-align: center;
	text-decoration: none;
}
.mt_title_cnt a.lineL{
	/*border-right: 1px solid #999;*/
}
.mt_title_cnt a.mttc-left{
	background: transparent url("../images/chart-btn1.png") no-repeat scroll 0 0;
	color: #fff;
	/*background-color: #7098a3;
	border-style: solid;
    border-width: 1px;
	border-color: #EEEEEE;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	float: left;*/
	width: 165px;
}
.mt_title_cnt a.mttc-right{
	background: transparent url("../images/chart-btn2.png") no-repeat scroll 0 0;
	/*background-color: #7098a3;
	border-style: solid;
    border-width: 1px;
	border-color: #EEEEEE;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	float: right;*/
	width: 83px;
}
.mt_title_cnt a.mttcl1{
	background: transparent url("../images/chart-btn1-1.png") no-repeat scroll 0 0;
	color: #999;
}
.mt_title_cnt a.mttcr1{
	background: transparent url("../images/chart-btn2-1.png") no-repeat scroll 0 0;
	color: #fff;
}

#mtOneDayDate{
	font-size: 12px;
	line-height: normal;
}

.seeClear{
	display: block;
	float: right;
	margin-top: -40px;
	position: relative;
	text-decoration: underline;
}

.char-up{
	display: none;
	line-height: normal;
}

.charDetailIndex{
	margin: 0;
}
.charDetailIndex a{
	background: none;
	border: none;
	cursor: default;
}
/* 观影成绩单 */