@CHARSET "UTF-8";

/* 登录弹出框 */
.layerBox{
	position: absolute;
	display: none;
	width: 390px;
	height: 240px;
	left: 50%;
	margin-left: -195px;
	background-color: #FFF;
	border-color: #CCCCCC;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	z-index: 19891019;
}
.layerTitle, .layerTitle-2{
	color: #666;
	font-size: 16px;
	font-weight: bold;
	padding-left: 20px;
}
.layerTitle-2{
	color: #fff;
}
.layerCloseBtn{
	display: block;
	width: 20px;
	height: 21px;
	cursor: pointer;
}
.layerTable{}
.layerTable span.error_msg_span{
	color: #F30;
}
.layerTable input{
	width: 350px;
	height: 30px;
	height: 30px\0;
	
	*+height: 28px;
	_height: 28px;
	padding-left: 5px;
	line-height: 28px\9;	/* IE 6 7 8 */
	background-color: #FFF;
	border: 1px solid #CCC;
}
.layerTable input.required_msg{
	font-weight: bold;
	color: #F30;
	border: 1px solid #F30;
}
.layerTable input.layerBtn{
	cursor: pointer;
}
.layerTable a.layerBtn, .layerTable input.layerBtn{
	background: rgba(0, 0, 0, 0) linear-gradient(#038ab1, #026c91) repeat scroll 0 0;
	border: none;
	color: #FFF;
	display: block;
	font-size: 22px;
    font-weight: bold;
    height: 50px;
	letter-spacing: 5px;
	line-height: 50px;
	margin: 15px auto;
	text-align: center;
	text-decoration: none;
	/*background: url("../images/log_btn.png") no-repeat 50% 0;*/
	width: 335px;
}
.layerCloseTable a.layerBtn:hover{
	text-decoration: none;
}
.error_msg_s{
	font-size: 16px;
	font-weight: normal;
	color: #F30;
	text-align: center;
	line-height: 38px;
}
/* 登录弹出框 */

.zhezhao2{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	z-index:19891018;
	-moz-opacity:0.2;
	opacity:0.2;
	filter:alpha(opacity=20);
	/*height:1000px;*/
}