@charset "utf-8";
/* CSS Document */

.sche-list-area{
    margin-bottom: 20px;
}

span.sche-date-yet{
    color: #f30;
    display: block;
    float: right;
    font-size: 12px;
    padding: 10px;
}
span.sche-date-yet-val{
    color: #f30;
    font-size: 12px;
}

/*弹出框*/
.show-schdetail-box{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    bottom: auto;
    height: auto;
    margin: 100px auto 0;
    width: 600px;
}

.show-sch-header, .show-sch-body, .show-sch-footer{
    width: 600px;
}

.show-sch-header{
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    text-align: center;
}

.show-sch-header h3{
    color: #666;
}

.show-sch-body{
    padding: 15px 10px;
}

.time-block{
    background-color: #f7f7f7;
    border: 1px solid #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #666;
    display: inline-block;
    margin: 8px 7px;
    padding: 5px 0;
    text-align: center;
    width: 101px;
}

.time-block p{
    margin: 0;
}

.time-hall{
    border-bottom: 1px solid #e7e7e7;
}

.time-start{
    color: #5aabc2;
    font-size: 16px;
}

.show-sch-footer{
    padding: 10px;
}
