@charset "utf-8";
/* CSS Document */

/* 影院信息 */
.ra-title{
    height: auto;
}

th {
	background-color: #F7F6F6;
	color: #666;
}

.table > tr > td{
    border: 1px solid #ddd;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-indent: 0.5em;
}
