@charset "utf-8";

div{
	display: block;
}
.container{
	text-align: center;
}
.containerTitle{
	background: -webkit-linear-gradient(#fff, #eee);
	background: -moz-linear-gradient(#fff, #eee);
	background: -o-linear-gradient(#fff, #eee);
	background: linear-gradient(#fff, #eee);
	background-color: #F5F5F5;
	border-color: #ddd;
	border-style: solid;
	border-width: 1px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #666;
	font-size: 2em;
	font-weight: 600px;
	margin: 20px 0 0 40px;
	text-align: center;
}
.containerTitle span{}
.containerTitle span.sp-1{
	color: #07637d;
    font-size: 0.7em;
    padding-right: 15px;
}
.containerTitle span.sp-2{}
.adjust-close-btn{
	font-size: 15px;
    position: absolute;
    right: 25px;
    top: 24px;
}
.hall-type-imgLegend{
	margin: 15px 0 0;
	text-align: center;
}
.mainTable {
	width: 1200px;
	position: relative;
	margin: 10px 0 20px 3px;
	/*border: 1px solid #5bc0de;*/
}
.officeNum {
	border-bottom: 0;
	padding-top: 18px;
	width: 90px;
	text-align: center;
}
.officeNum li {
	height: 48px;
	line-height: 48px;
	font-weight: bold;
}
.officeNum li.downicon{
	height: 10px;
}
/*.officeNum li.waitRed {
	background: url(../images/wai_bag.gif) 0 -275px no-repeat;
}*/

.listCon_ling {
	position: absolute;
	top: 10px;
	left: 78px;
	width: 97%;
	float: left;
}
.listCon{
	overflow-x: auto;
	overflow-y: hidden;
	border-right: 1px solid #dadfe2;
	background: #FAFAFA;
	width: 920px;
	/*border: #5bc0de;*/
	border-left: 1px solid #4affff;
}
.yinpianList ul .popUp {
padding-left: 100px;
/*position: relative;*/
}
.yinpianList ul li {
	display: block;
	height: 47px;
	border-bottom: 1px solid #81b4dd;
	/*position: relative;*/
	display: -webkit-box;
	width: 100%;
}
	
.officeNum li.upicon {
	height: 20px;
}
.officeNum li {
	height: 48px;
	line-height: 48px;
	color: #fff;
	font-weight: bold;
}

.listCon ul.timeList {
background: url(../images/wai_bag.gif) 0 -191px repeat-x;
height: 29px;
}
.listCon .con {
	/*width: 1600px;*/
	width: 1200px;
}

.listCon ul.timeList li {
	float: left;
	/* padding: 0 0 0 5px; */
	height: 29px;
	line-height: 29px;
	width: 60px;
	font-weight: bold;
	border: 0;
}
.yinpianList ul li .edit-div{
	background: -webkit-linear-gradient(#fff, #e3effe);
	background: -moz-linear-gradient(#fff, #e3effe);
	background: -o-linear-gradient(#fff, #e3effe);
	background: linear-gradient(#fff, #e3effe);
	background-color: #F0F6FE;
	border-color: #ddd;
	border-style: solid;
	border-width: 1px;
	-khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #07637d;
    cursor: pointer;
	display: inline;
	left: 0;
    height: 30px;
    line-height: 30px;
    margin-top: -36px;
    padding: 0 8px;
    position: absolute;
    text-align: center;
    z-index: 2;
}
.yinpianList ul li .film {
	position: absolute;
	clear: both;
	height: 40px;
	margin-top: 3px;
	border-radius: 0.25em;
	color: #fff;
	display: inline;
	font-size: 85%;
	font-weight: 500;
}
.yinpianList ul li .addDiv{
	position: absolute;
	clear: both;;
	height: 40px;
	margin-top: 3px;
	background-color:#d9e8f4;
	border:1px dashed #ccc;
	width: 131px;
	padding: 12px;
	white-space:nowrap;
	overflow: hidden;
	font-weight: 700;
	z-index: 999;
	color: black;
}

.yinpianList{
	position: relative;
}
.listCon .yinpianList, .listCon .yinpianList ul li{
	/* 此处设置与标尺同宽 : 可拖动设置排期 */
	width: 1200px;
}
.label{
	border-radius: 0;
}
#film_list {
	/*position: absolute;*/
	top:0px;
	right: 0px;
	width: 200px;
	height: 490px;
	/*border: 1px solid #5bc0de;*/
	border: 1px solid #7098a3;
	overflow-y:scroll;
	overflow-x:hidden;
}

#film_list{
	/*padding: 12px;*/
	float: right;
	margin-top: -490px;
}
#film_model {
	padding: 12px;
	/*border-top: 1px #428bca solid;*/
}
#film_model p{
	color: #fefefe;
	cursor: pointer;
	height: 40px;
	padding: 12px;
	white-space:nowrap;
	overflow: hidden;
	/*font-weight: 700;*/
	line-height: 18px;
}
#film_model p.bg-info{
	background-color: #a7ccd6;
	border-style: solid;
	border-width: 0px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.film{
	padding: 5px;
}
.film:hover{
	cursor: pointer;
}
.film .rightR p{
	margin-bottom: 5px;
}
.film .film-type-block{
	color: #ff0;
    display: inline-block;
    float: right;
    margin-right: -4px;
    margin-top: -18px;
    padding: 2px;
    position: relative;
}
.film_type{
	background-color: #85b0bb;
	border-bottom:1px #7098a3 solid;
	margin-bottom: 0px;
}
.film_type li{
	width: 91px;
	padding: 10px 0;
	text-align: center;
}
.film_type li:first-child{
	/*border-right:1px #428bca solid;*/
	border-right:1px #7098a3 solid;
}
.film_type li a{
	color: #07637d;
    padding: 5px;
    transition: background-color 1s;
}
.film_type li a:hover{
	background-color: #5A8D9A;
    border-color: #93BCC6;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: #eee;
}
.film_type li a.current{
	background-color: #386976;
    border-color: #9CC7D2;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: #ff0;
}
.film_type li a label{
	cursor: pointer;
}

@media print { 
 .noprint { display: none;color:green } 
} 


.officeNum>li{
	clear: both;
 	display: block; 
}

#moveLeft:hover,#moveRight:hover{
	cursor: pointer;
	color: #428bca;
}
#moveRight{
	margin-right: 10px;
}
#moveSize{
	color: #666;
	font-size: 12px;
    padding: 6px;
	text-align: center;
}



/*标尺的样式*/
.zxxScaleRuler_h {
	width: 100%;
	height: 29px;
	background: url(../image/ruler_h.png) repeat-x;
}
.zxxScaleRuler_h .n{position:absolute; font:10px/1 Arial, sans-serif; color:#07637d; cursor:default;}
.zxxScaleRuler_h .n{top:1px;}
.zxxRefDot_v{position:absolute;width:3px; height:100%; _height:9999px; background:url(../image/line_v.png) repeat-y 1px top; left:-10px;z-index: 9999;}

/* 厅名的样式 */
.hall-a-1{
	background-color: #eee;
    border-color: #ddd;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}
.hall-a-1 label{
	background-color: #f7f7f7;
	display: inline;
	margin: 0;
	padding: 0;
}
a.hall-a-1:hover{
	text-decoration: none;
}
/* 影厅类型层 */
.hall-type-layer{
	background: -webkit-linear-gradient(#fff, #e3effe);
	background: -moz-linear-gradient(#fff, #e3effe);
	background: -o-linear-gradient(#fff, #e3effe);
	background: linear-gradient(#fff, #e3effe);
	background-color: #F0F6FE;
	border-color: #ddd;
	border-style: solid;
	border-width: 1px;
	-khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #07637d;
    display: none;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin-left: -2px;
    margin-top: -22px;
    padding: 0 7px 0 0;
    position: absolute;
    text-align: center;
}

/* 移动排期按钮 */
.move-btn{
	background: #5bc0de none repeat scroll 0 0;
    border-color: #46b8da;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    font-weight: 700;
    padding: 8px 5px;
}
.move-input{
	border-color: #46b8da;
	-khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
}