@charset "utf-8";
/* CSS Document */

/**
* 查看报告
**/

.total-data-area{
	margin-top: 20px;
}

.modal-body p .desc-p{
    margin: 0 0 5px;
    padding: 0 1em;
    text-indent: 2em;
}

.desc-title{
    font-size: 16px;
    font-weight: 700;
    text-indent: 1em;
}

.sys-more-cinema-box{
    display: none;
    margin-top: 20px;
}

.cinema-more-sys-box{
    display: none;
}

.prove-box{}

.h3-prove{
    color: #f30;
}

.conclusion-box{
    font-size: 18px;
}

.conclusion-title{
    color: #f30;
}

.conclusion-cnt{}

.desc-1{
    font-size: 18px;
    font-style: italic;
    margin: 5px 0;
    text-decoration: underline;
}

.same-film-ana-box{
    margin-bottom: 15px;
}

.same-film-title{}

.same-film-ana-cnt{}

.desc-2{
    margin-bottom: 15px;
}

.desc-2-title{}

.desc-2-cnt{}

.summary-box{}

.summary-title{
    color: #f30;
    font-size: 18px;
}

.summary-cnt{
    color: #555;
    font-size: 15px;
    font-weight: 700;
    text-indent: 2em;
}