@CHARSET "UTF-8";

/* 使用指南 */
.guide_nav{
	background: -webkit-linear-gradient(#fff, #eee);
    background: -o-linear-gradient(#fff, #eee);
    background: -moz-linear-gradient(#fff, #eee);
    background: linear-gradient(#fff, #eee);
	/*background: #038ab1;*/
	color: #07637d;
	font-size: 2em;
	height: 40px;
	line-height: 37px;
	margin: 15px 0;
	position: relative;
	text-align: center;
	width: 99.8%;
	z-index: 20;
}
.gzt-con-guide {
	float: left;
	height: auto;
	overflow: hidden;
	width: 99.8%;
}

.gzt_tab {
    background-color: #fafbfb;
    border-color: #c4c4c4;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    min-height: 260px;
    padding: 0.5% 2%;
}

.guide-left{
	margin-bottom: 15px;
	min-height: auto;
}

.guide-left-list{
	color: #7098a3;
    font-size: 1.3em;
    height: auto;
    margin: 6px 0;
}

.guide-left-list h3{
	width: 100%;
}

.guide-left-list-block{
	background-color: #f9f9f9;
	border-color: #eee;
	border-style: solid;
	border-width: 1px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: none;
	height: auto;
	margin: 10px 0;
    padding: 15px 20px;
}
.guide-left-list-block p{
	line-height: 30px;
	text-indent: 2em;
}
.guide-left-list-block p img{
	
}
.guide-left-list-block p img.img-1{
	width: 90%;
}
.guide-left-list-block p.p-1{
	text-indent: 2em;
}
.guide-left-list-block .ft-color-1{
	color: #f30;
}
.guide-left-list-block-show{
	background-color: #f7f7f7;
	display: block;
}