@charset "utf-8";
/* CSS Document */

/**
* 明细数据展示区域样式
**/

.detailContainer{
	display: none;
	margin: 20px auto;
}

.ft{
	float: left;
}
.area-ht{
	/*background-color: #f7f7f7;*/
	background-color: #f3f3f3;
	font-size: 14px;
	line-height: 22px;
	padding: 10px 0;
}
.clearF::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.dc-title{
	background: rgba(0, 0, 0, 0) url("../../images/minus.png") no-repeat scroll left center;
	border-bottom: 2px solid #ccc;
	color: #07637d;
	cursor: pointer;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
}
.dc-title span{
	padding: 0 10px;
}
.dc-title span.dc-title-0{
	font-size: 14px;
}
.dc-title span.dc-title-1{
	font-weight: normal;
}
.dc-title span.dc-title-2{
	color: #f30;
	padding: 0 0 0 10px;
}
.dc-title span.dc-title-3{
	color: #389EB7;
	padding: 0;
}

.dc-data-box{
	display: block;
	padding: 10px 0;
	width: 100%;
}

.userSltFilm{
	color: #07637d;
	cursor: pointer;
	/*height: 18px;*/
	font-size: 12px;
    line-height: normal;
    padding: 1px 5px;
	width: 120px;
}
.userInputFilm{
	border: 2px solid #11C2EE;
	color: #21C6EF;
	height: 24px;
	margin: 5px 0 10px;
	width: 158px;
	text-align: center; 
}

.updateBtn{
	position: absolute;
	border: none;
	cursor: pointer;
    height: 28px;
    margin: -2px 0 0 30px;
    width: 28px;
    /*margin-left: 22px;*/
    background:url("../../images/save_ok.png") no-repeat 0 0;
    background-color: none;
    background-size: 100%;
}
.updateBtn-load{
	position: absolute;
	border: none;
	cursor: pointer;
    height: 28px;
    margin: -2px 0 0 30px;
    width: 28px;
    /*margin-left: 22px;*/
    background:url("../../images/load.gif") no-repeat 0 0;
    background-color: none;
    background-size: 100%;
}

/* films list pannel */
.filmListBox-div{
	background-color: #fefefe;
    border: 1px solid #ccc;
    display: none;
    height: 280px;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5px;
    position: absolute;
    width: 182px;
}
.filmListBox-ul{
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.filmListBox-ul li{
	cursor: default;
	padding: 0 0 0 5px;
	/*line-height: 26px;*/
	text-align: left;
}
.filmListBox-ul-ok{
	margin-bottom: 0;
}

/* Left-start */
.dcdbox-left{
	color: #07637d;
	width: 25%;
}
.dcdbox-left .dcdbox-left-data{
	width: 100%;
}
.dcdbox-left .dcdbox-left-data a.h4title-btn-cmn{
	background-color: #fefefe;
	border-color: #ccc;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	color: #f30;
	display: block;
    float: left;
    font-weight: bold;
    height: 15px;
    line-height: 11px;
    margin: 3px 0 0 5px;
    text-align: center;
    width: 15px;
}
.dcdbox-left .dcdbox-left-data a.h4title-btn-cmn:hover{
	text-decoration: none;
}
.dcdbox-left .dcdbox-left-data h4{
	margin: 0 10px;
}
.dcdbox-left .dcdbox-left-data .dcdbox-left-data-list{
	margin: 0;
	width: 100%;
}
.dcdbox-left .dcdbox-left-data .dcdbox-left-data-list li.text-solong{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.dcdbox-left .dcdbox-left-data-name{
	font-size: 1em;
    line-height: 2.1em;
	text-align: center;
	width: 100%;
}
.dcdbox-left .dcdbox-left-data-name p{
	margin: 0;
}
.dcdbox-left .dcdbox-left-data-name .unmatch-film-name{
	color: #07637d;
}
.dcdbox-left .dcdbox-left-data-name .unmatch-film-tip{
	color: #F30;
	padding: 5px 0;
}
/* Left-end */

/* Right-start */
.dcdbox-right{
	width: 75%;
}
.dcdbox-right .dcdbox-right-tbl{
	border: none;
	margin: 0;
	width: 100%;
}
.dcdbox-right .dcdbox-right-tbl .dcdbox-right-tbl-innerTbl{
	margin: 0;
	border: 0;
}
.dcdbox-right .dcdbox-right-tbl .dcdbox-right-tbl-innerTbl th, .dcdbox-right .dcdbox-right-tbl .dcdbox-right-tbl-innerTbl tr,
.dcdbox-right .dcdbox-right-tbl .dcdbox-right-tbl-innerTbl td{
	border: none;
}
.dcdbox-right .dcdbox-right-tbl th, .dcdbox-right .dcdbox-right-tbl tr, .dcdbox-right .dcdbox-right-tbl td{
	border: none;
	font-size: 14px;
	font-weight: normal;
	height: auto;
}
.dcdbox-right .dcdbox-right-tbl td{
	border-bottom: 1px dashed #eee;
	padding: 5px 0;
}
.dcdbox-right .dcdbox-right-tbl .dcdbox-right-tbl-innerTbl td{
	border-bottom: 1px dashed #eee;
}
.dcdbox-right .dcdbox-right-tbl td.btm-line, .dcdbox-right .dcdbox-right-tbl .dcdbox-right-tbl-innerTbl td.btm-line{
	border-bottom: 1px solid #eee;
}
.dcdbox-right .dcdbox-right-tbl td.mouse-class{
	cursor: pointer;
}
/* Right-end */