@charset "utf-8";
/* CSS Document */

.market-sch-area{}

.querysch-btn{
    margin-right: 5px;
}

.single-date{
    /*display: none;*/
}

.oper-a{
    display: inline-block;
    height: 16px;
    margin: 5px 10px 0 0;
    width: 16px;
}
.oper-a-sv{
    background: url("../../images/savep.png") no-repeat scroll 50% 0;
}
.oper-a-et{
    background: url("../../images/editp.png") no-repeat scroll 50% 0;
    width: 17px;
}
.oper-a-dt{
    background: url("../../images/deletep.png") no-repeat scroll 50% 0;
}

.create-sch-box{
    border-top: 1px solid #ddd;
    display: none;
    text-align: right;
}

.create-sch-btn{
    color: #ff0;
    font-size: 14px;
    font-weight: 700;
    margin: 15px 0 0;
    padding: 6px 12px;
}

.sch-timeset-area{
    /*display: none;*/
    margin-top: 20px;
}

.time-block{
    float: left;
    margin: 0 28px;
    width: 150px;
}

.time-block p{
    margin-bottom: 5px;
}

.time-set-btn{
    margin: 20px 0 0;
    text-align: right;
}

/* 大盘票房 */
.market-boxoffice-box{
    margin: 0 auto;
}

.total-office-box{
    border-top: 1px solid #ddd;
    color: #07637d;
    padding: 25px 0 10px;
}

.total-office-box span{
    padding-right: 30px;
}